extends layout

block content
    .col-sm-12
      each article in articles
        .card.card-article
          .card-body
            h5.card-title #{article.title}
            p.card-text #{article.details}
            a.btn.btn-primary(href='#') Go somewhere
        
    
