extends layout

block content
    .container
        .jumbotron
            h1.display-4 The Tao of Slothness Explained, Coming soon!
            p.lead
            | From the more influentional Sloth in the whole world, how to be a successful sloth with the pro, coming soon.
            hr.my-4
            p
            | Made with love, from earthlings to earthlings.
            p.lead
            a.btn.btn-warning.btn-lg(href='/articles' role='button') Order now!
    
    .container.daily-message
        .card
          .card-header
            | Message of the day:
          .card-body
            blockquote.blockquote.mb-0
              p
                | Mr. Slothson tells in his book, how to inspire and be inpired by our daily slothness, this is a master piece.
              footer.blockquote-footer
                | Debra Simple from 
                cite(title='Source Title') The Daily Deboist 
        |
    .container.daily-message
        .card-deck
          .card
            img.card-img-top(src='/images/rolling.jpg' alt='Card image cap')
            .card-body
              h5.card-title S.L.O.T.H. Method
              p.card-text
                | How to be successful with little to none effort.
              p.card-text
                small.text-muted Last updated 3 mins ago
          .card
            img.card-img-top(src='/images/sloth.jpg' alt='Card image cap')
            .card-body
              h5.card-title Mr. Slothson
              p.card-text 
                | A stress free business man, Mr. Slothson is the most successful Sloth in the Universe.
              p.card-text
                small.text-muted Last updated 3 mins ago
          .card
            img.card-img-top(src='/images/rolling.jpg' alt='Card image cap')
            .card-body
              h5.card-title Tools to be successful
              p.card-text
                | Sharp your tools to be successful with Mr. Slothson.
                
              p.card-text
                small.text-muted Last updated 3 mins ago

    .container.photo-field
        .card-deck
            .card.text-white.bg-danger.mb-3(style='max-width: 18rem;')
              .card-header Header
              .card-body
                h5.card-title Success card title
                p.card-text
                  | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.

            .card.text-white.mb-3(style='max-width: 18rem; background-color:pink')
              .card-header Header
              .card-body
                h5.card-title Success card title
                p.card-text
                  | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.

            .card.text-white.bg-primary.mb-3(style='max-width: 18rem;')
              .card-header Header
              .card-body
                h5.card-title Success card title
                p.card-text
                  | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.


    




