body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    /*background-color: #d2f5d7;*/
    background-image: url('/images/background.jpg');
    background-repeat: repeat;
    align-items: center;
}

.main-container {
    background-color: #559d5f;
    padding-top: inherit;
    padding-bottom: 15%;
    border-radius: 8px;
}

table {

    background-color:azure;
}

h1{
    align-content:center;
}

.daily-message{
   margin-bottom: 30px;
}

.photo-field .row .col-lg-4{
    align-content: center;
}

.article {
    background-color: aliceblue;
}

.card-article{
    margin-bottom: 10px;
}

.custom-jumbotron {
    background-image: url('/images/background_bw.jpg');
    background-size: cover;
    color: aliceblue;
}

